<!DOCTYPE html>
<html lang="en" xmlns:>

<head>
	<title>Welcome Page</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
			height: 100%
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="body" style="background-image:url(/static/image.png) ;">

	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			<div class="col-sm-2">
				<br>
				<center>
					<img src="{% static 'image.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				</center>
			</div>
			<div class="col-sm-10">
				<br>
				<center>
					<h3> Welcome to Dummy Page </h3>
				</center>
			</div>

			<form action='/addfriend/addfriend' method="post">
				{%csrf_token%}
				<h3 style="margin-left: 480px">Add Friend </h3>
				<input class="input100" type="text" name="username" placeholder="Add friend">
				<input class="input100" type="text" name="email" placeholder="friend Email">
				<div class="container-login-form-btn">
					<button class="login-form-btn">
						Add friend
					</button>

				</div>
				<div>{{Message}}</div>


			</form>
			<div><button class="login-form-btn"><a href="/logout/logout">logout</a></button></div>
		</div>
	</div>
	</div>
</body>

</html>