<!DOCTYPE html>
<html lang="en" xmlns:>

<head>
	<title>CWelcome Page</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="body" style="background-image:url(/static/image.png) ;" >

	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'image.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3></h3>
				  </center>
				  
			  </div>

			  <table border="1" cellpadding="3px">
				 
					<tr><th>User</th>	<th>Tweet id</th>	<th>date created</th><th>Tweet</th></tr>
				{%for a in tmp%}
				<tr><td>{{a.0}}</td><td>{{a.1}}</td><td>{{a.2}}</td><td>{{a.3}}</td></tr>
				{%endfor %}
							  </table>	
				
			  
				
							<h3 style="margin-left: 480px"> {{Message}}  </h3>
			

                 
               </div>
        </div>
    </div>
</body>
</html>













