<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Trend</title>
    {% load staticfiles %}
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <link rel="icon" type="image/png" href="{%static 'images/icons/favicon.ico'%}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
    <!--===============================================================================================-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!--Animsition CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
    <!--CSS-Hamburgers-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css">
    <!--===============================================================================================-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.15.1/tingle.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <!-- Font Awesome JS -->
    <script src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
    </script>

    <!--<script src="{% static 'trend.js' %}"></script>-->

    <style>
        text {
            position: absolute;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 700;
            margin-left: 50px;
            padding: 60px;
            font-size: 18px;
            color: #FDD935;
        }

        svg rect {
            background: #081F2C;
            padding: 10px;
            border: 5px solid #FDD935;
            color: #FDD935;
        }

        circle {
            fill: #000;
            stroke: #FDD935;
            stroke-width: 2px;
        }


        .axisRed path {
            stroke: green;
        }

        .axisBot path {
            stroke: red;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: rgb(143, 143, 143);
            stroke-width: 2px;
            shape-rendering: crispEdges;
        }

        .axis-title {
            fill: 5B6770#;
            letter-spacing: 1px;
        }

        .line {
            fill: none;
            stroke: #FDD935;
            stroke-width: 5px;
        }

        .overlay {
            fill: none;
            margin: 30px;
            pointer-events: all;
        }

        .hover-line {
            stroke: #000;
            stroke-width: 2px;
            stroke-dasharray: 2, 4;
        }

        .focus {
            background: #081F2C;
            background-color: #081F2C;
            padding: 10px;
            border: 5px solid #FDD935;
            color: #FDD935;
        }
    </style>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header text-align-center">
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/login/submit">
                        <i class="fas fa-home"></i>
                        &nbsp; dashboard
                    </a>

                </li>
                <li>
                    <a href="/core/follower">
                        <i class="fas fa-user-plus"></i>
                        &nbsp; followers
                    </a>

                    <div class="collapse list-unstyled" id="pageSubmenu">

                    </div>
                </li>
                <li id="3">
                    <a href="">
                        <i class="fas fa-user-check"></i>
                        &nbsp; following
                    </a>
                </li>
                <li id="4">
                    <a href="">
                        <i class="fas fa-paper-plane"></i>
                        &nbsp; contact
                    </a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                    <a class="navbar-brand brand-logo" href="/login/submit">
                        <u>BUDDY|UP</u>
                        <a class="navbar-brand brand-logo-mini" href="/login/submit">
                            <img src="#" alt="logo" /> </a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center">
                    <ul class="navbar-nav">
                        <bold>Help: +050 2992 709</bold>
                    </ul>
                    <form class="ml-auto search-form d-none d-md-block" action="#">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Search Friends">
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fas fa-bell"></i>
                                <span class="count">7</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator" id="notificationDropdown" href="#"
                                data-toggle="dropdown">
                                <i class="fas fa-envelope"></i>
                                <span class="count">3</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <h3>|</h3>
                        </li>
                        <li class="nav-item dropdown d-none d-xl-inline-block">
                            <a class="nav-link" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                {{usr}} &nbsp;
                                <img class="img-xs rounded-circle" src="../Dashboard/assets/images/faces/face8.jpg"
                                    alt="Profile image" style="height: 50px; width: 50px;"> </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                aria-labelledby="UserDropdown">
                                <a class="dropdown-item">My Profile <span
                                        class="badge badge-pill badge-danger"></span><i
                                        class="dropdown-item-icon ti-dashboard"></i></a>
                                <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>
                                <a class="dropdown-item">Activity<i
                                        class="dropdown-item-icon ti-location-arrow"></i></a>
                                <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a>
                                <a class="dropdown-item" href="/logout/logout">Sign Out<i
                                        class="dropdown-item-icon ti-power-off"></i></a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <div class="content-wrapper">
                <h2>{{friend}}'s Trend</u> </h2>
                <div class="row m-b-1">
                    <div class="col-12">
                        <div class="card shadow">
                            <svg style="width:100%; height:100%;" width="1450" height="500" viewBox="0 0 1500 500"
                                preserveAspectRatio="xMidYMid meet"></svg>
                        </div>
                        <div class="feedback-form">
                            <h4>User Feedback</h4>

                            {%block content%}
                            {%if tweet_data%}

                            <table class="feedback-table">
                                <tr>
                                    <th mat-header-cell *matHeaderCellDef> Tweet id </th>
                                    <th>Tweet </th>
                                    <th>
                                        Tweet Date
                                    </th>
                                    <th>Tweet Score</th>
                                    <th>tweet sum_score</th>
                                    <th>tweet counter</th>

                                </tr>
                                {%for d in tweet_data%}
                                <tr>
                                    <td>
                                        {{d.id}}
                                    </td>
                                    <td>
                                        {{d.tweet_data}}
                                    </td>
                                    <td>{{d.tweet_date}}</td>
                                    <td>{{d.tweet_score}}</td>
                                    <td>{{d.tweet_sum_score}}</td>
                                    <td>{{d.tweet_counter}}</td>


                                </tr>
                                {%endfor%}
                                {%endif%}
                                {%endblock %}

                            </table>
                            <input type="submit" value="submit">
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
            <!--

                
                       <div class="row m-b-1">
                           <div class="col-lg-6">
                               <div class="card shadow">
                                <div class="data-container" value="{{Message}}"></div>
                                   <h4 class="card-header">Product Wise Revenue</h4>
                                   <div class="card-block">
                                       <div id="products-revenue-pie-chart"></div>
                                   </div>
                               </div>
                           </div>

                           <div class="col-lg-6">
                               <div class="card shadow">
                                   <h4 class="card-header">Orders</h4>
                                   <div class="card-block">
                                       <div id="orders-spline-chart"></div>
                                   </div>
                               </div>
                           </div>
                       </div> <!-- row -->
        </div>

        <script src="https://d3js.org/d3.v4.min.js"></script>

        <script>
            var data1 = {{obj1 | safe}};
             console.log(data1)


            var data2 = _.groupBy(data1, function (obj1) {

                //  for((key,value) in obj1.tweet_date) {
                //     score = score+obj1.tweet_score;
                //      count = count+obj1.tweet_counter;
                //  }
                return obj1.tweet_date;
            });
            console.log(data2);
            
            var myFormat = d3.timeFormat("%Y-%m-%d")
            var parseTime = d3.timeParse(myFormat);
            data = []
            tweet_data = []
            Object.keys(data2).forEach(function (key) {
                // console.log(key, data[key]);
                var score = 0;
                var count = 0;
                var tweets = [];
                data2[key].forEach(function (d) {
                    score = (score + d.tweet_sum_score);
                    count = count + d.tweet_counter;
                    tweets.push(d.tweet_data);
                });
                if (count == 0) {
                    data.push({
                        "date": parseTime(key),
                        "score": 0,
                        "tweet": tweets
                    });
                } else {
                    data.push({
                        "date": parseTime(key),
                        "score": (score / count),
                        "tweet": tweets
                    });
                }
                data2[key].forEach(function (d) {
                    tweet_data.push({
                        "date": parseTime(key),
                        "tweet":d.tweet_data})                
                        })
            });
            console.log(data)


            //keys[i] for key //dictionary[keys[i]] for the value 
            // var score = 0;
            // var count = 0;
            // var aa = 0
            // for (const [key, value] of data.entries()) {
            //     score = score + obj1.tweet_score;
            //     count = count + obj1.tweet_counter;
            //     console.log(key, score, count)
            // }
            //   console.log(data)
            //  console.log(typeof data);



            //    / console.log(typeof data1)
            // console.log((data1));
            // var data2 = "{{obj2}}";z
            // var res1 = data1.replace(/[\[\]']+/g, '')
            //     .replace(/&quot;/g, '"');
            // // .replace(/\\n/g, "\\n")
            // // .replace(/\\'/g, "\\'")
            // // .replace(/\\"/g, '\\"')
            // // .replace(/\\&/g, "\\&")
            // // .replace(/\\r/g, "\\r")
            // // .replace(/\\t/g, "\\t")
            // // .replace(/\\b/g, "\\b")
            // // .replace(/\\f/g, "\\f");
            // // remove non-printable and other non-valid JSON chars
            // //  res1 = res1.replace(/[\u0000-\u001F]+/g, "");
            // //res1 = res1.replace(/[\u0000-\u0019]+/g, "");
            // res1 = [res1]
            // console.log(res1)


            // //   console.log(res2[1])
            // // console.log(res1)
            // res1 = JSON.parse(res1);

            // console.log(obj1)
            // remove non-printable and other non-valid JSON chars

            // var res2 = data2.replace(/&quot;/g, '"');
            //  var obj1 = res1;
            // console.log(obj1)
            //var new_date = res.replace(/datetime.Date/g, "new Date");
            //  res1.map(id => ({ id }))

            //console.log(obj1)
            //             var obj1 = res1.forEach(function (obj, v) {
            //                 obj[v] = 0;
            //                 return obj;
            //             }, {})

            // console.log(grouped);
            // var data = jsonObject;
            //  console.log(typeof data)
            //    console.log(result);

            // var data = obj1;

            /*
                        var objarr = [];
                        for (var i = 0; i < obj1.length; i++) {
                            objarr.push(obj1[i]);
                        }
            */
            /*

                        var margin = {
                                top: 20,
                                right: 80,
                                bottom: 30,
                                left: 50
                            },
                            width = 900 - margin.left - margin.right,
                            height = 500 - margin.top - margin.bottom;

                        var parseDate = d3.time.format("%Y-%m-%d").parse;


                        var svg = d3.select("svg"),
                            margin = {
                                top: 20,
                                right: 20,
                                bottom: 30,
                                left: 40
                            },
                            width = +svg.attr("width") - margin.left - margin.right,
                            height = +svg.attr("height") - margin.top - margin.bottom;

                        var x = d3.time.scale()
                            .range([0, width]);

                        var y = d3.scale.linear()
                            .range([height, 0]);

                        var color = d3.scale.category10();

                        var xAxis = d3.svg.axis()
                            .scale(x)
                            .orient("bottom");

                        var yAxis = d3.svg.axis()
                            .scale(y)
                            .orient("left");

                        var line = d3.svg.line()
                            .interpolate("basis")
                            .x(function (d) {
                                return x(d.date);
                            })
                            .y(function (d) {
                                return y(d.score);
                            });

                        var svg = d3.select("svg")
                            .attr("width", width + margin.left + margin.right)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



                        color.domain(d3.keys(data[0]).filter(function (key) {
                            return key !== "date";
                        }));

                        data.forEach(function (d) {
                            d.date = parseDate(d.date);
                        });

                        var scores = color.domain().map(function (score) {
                            return {
                                score: score,
                                values: data.map(function (d) {
                                    return {
                                        date: d.date,
                                        score: +d[score]
                                    };
                                })
                            };
                        });

                        console.log(scores)

                        x.domain(d3.extent(data, function (d) {
                            return d.date;
                        }));

                        y.domain([
                            d3.min(scores, function (c) {
                                return d3.min(c.values, function (v) {
                                    return v.score;
                                });
                            }),
                            d3.max(scores, function (c) {
                                return d3.max(c.values, function (v) {
                                    return v.score;
                                });
                            })
                        ]);

                        var legend = svg.selectAll('g')
                            .data(scores)
                            .enter()
                            .append('g')
                            .attr('class', 'legend');


                        legend.append('rect')
                            .attr('x', width - 20)
                            .attr('y', function (d, i) {
                                return i * 20;
                            })
                            .attr('width', 10)
                            .attr('height', 10)
                            .style('fill', function (d) {
                                return color(d.score);
                            });

                        legend.append('text')
                            .attr('x', width - 8)
                            .attr('y', function (d, i) {
                                return (i * 20) + 9;
                            })
                            .text(function (d) {
                                return d.score;
                            });

                        svg.append("g")
                            .attr("class", "x axis")
                            .attr("transform", "translate(0," + height + ")")
                            .call(xAxis);

                        svg.append("g")
                            .attr("class", "y axis")
                            .call(yAxis)
                            .append("text")
                            .attr("transform", "rotate(-90)")
                            .attr("y", 6)
                            .attr("dy", ".71em")
                            .style("text-anchor", "end")
                            .text("Sentiment Score");

                        var scr = svg.selectAll(".score")
                            .data(scores)
                            .enter().append("g")
                            .attr("class", "score");

                        scr.append("path")
                            .attr("class", "line")
                            .attr("d", function (d) {
                                return line(d.values);
                            })
                            .style("stroke", function (d) {
                                return color(d.score);
                            });

                        scr.append("text")
                            .datum(function (d) {
                                return {
                                    score: d.score,
                                    value: d.values[d.values.length - 1]
                                };
                            })
                            .attr("transform", function (d) {
                                return "translate(" + x(d.value.date) + "," + y(d.value.score) + ")";
                            })
                            .attr("x", 3)
                            .attr("dy", ".35em")
                            .text(function (d) {
                                return d.score;
                            });

                        var mouseG = svg.append("g")
                            .attr("class", "mouse-over-effects");

                        mouseG.append("path") // this is the black vertical line to follow mouse
                            .attr("class", "mouse-line")
                            .style("stroke", "black")
                            .style("stroke-width", "1px")
                            .style("opacity", "0");

                        var lines = document.getElementsByClassName('line');

                        var mousePerLine = mouseG.selectAll('.mouse-per-line')
                            .data(scores)
                            .enter()
                            .append("g")
                            .attr("class", "mouse-per-line");

                        mousePerLine.append("circle")
                            .attr("r", 7)
                            .style("stroke", function (d) {
                                return color(d.score);
                            })
                            .style("fill", "none")
                            .style("stroke-width", "1px")
                            .style("opacity", "0");


                        mousePerLine.append("text")
                            .attr("transform", "translate(10,3)");

                        mouseG.append('svg:rect') // append a rect to catch mouse movements on canvas
                            .attr('width', width) // can't catch mouse events on a g element
                            .attr('height', height)
                            .attr('fill', 'none')
                            .attr('pointer-events', 'all')
                            .on('mouseout', function () { // on mouse out hide line, circles and text
                                d3.select(".mouse-line")
                                    .style("opacity", "0");
                                d3.selectAll(".mouse-per-line circle")
                                    .style("opacity", "0");
                                d3.selectAll(".mouse-per-line text")
                                    .style("opacity", "0");
                            })

                            .on('mouseover', function () { // on mouse in show line, circles and text
                                d3.select(".mouse-line")
                                    .style("opacity", "1");
                                d3.selectAll(".mouse-per-line circle")
                                    .style("opacity", "1");
                                d3.selectAll(".mouse-per-line text")
                                    .style("opacity", "1");
                            })
                            .on('mousemove', function () { // mouse moving over canvas
                                    var mouse = d3.mouse(this);
                                    d3.select(".mouse-line")
                                        .attr("d", function () {
                                            var d = "M" + mouse[0] + "," + height;
                                            d += " " + mouse[0] + "," + 0;
                                            return d;
                                        });

                                    d3.selectAll(".mouse-per-line")
                                        .attr("transform", function (d, i) {
                                                console.log(width / mouse[0])
                                                var xDate = x.invert(mouse[0]),
                                                    bisect = d3.bisector(function (d) {
                                                        return d.date;
                                                    }).right;
                                                idx = bisect(d.values, xDate);

                                                var beginning = 0,
                                                    end = lines[i].getTotalLength(),
                                                    target = null;

                                                while (true) {
                                                    target = Math.floor((beginning + end) / 2);
                                                    pos = lines[i].getPointAtLength(target);
                                                    if ((target === end || target === beginning) && pos.x !== mouse[0]) {
                                                        break;
                                                    }
                                                    if (pos.x > mouse[0]) end = target;
                                                    else if (pos.x < mouse[0]) beginning = target;
                                                    else break; //position found 
                                                    }

                                                    d3.select(this).select('text')
                                                        .text(y.invert(pos.y).toFixed(2));

                                                    return "translate(" + mouse[0] + "," + pos.y + ")";
                                                })
                                        });*/
            function trend() {

                var svg = d3.select("svg"),
                    margin = {
                        top: 20,
                        right: 80,
                        bottom: 80,
                        left: 40
                    },
                    width = +svg.attr("width") - margin.left - margin.right,
                    height = +svg.attr("height") - margin.top - margin.bottom + 30;
                    
                bisectDate = d3.bisector(function (d) {
                    return d.date;
                }).left;

                var x = d3.scaleTime()
                    .domain(d3.extent(data, function (d) {
                        return new Date(d.date)
                    }))
                    .range([0, width]);

                var y = d3.scaleLinear().domain([-5, 5]).range([height, 30]);

                var line = d3.line()
                    .curve(d3.curveCatmullRom.alpha(0.5))
                    .x(function (d) {
                        return x(d.date);
                    })
                    .y(function (d) {
                        return y(d.score);
                    });

                var selectCircle = svg.selectAll(".circle")
                    .data(data)

                var g = svg.append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



                g.append("g")
                    .attr("class", "axis axis--x")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x)
                        .tickFormat(d3.timeFormat("%b-%d")));

                g.append("g")
                    .attr("class", "axisMid")
                    .attr("transform", "translate(0," + height / 1.87 + ")")
                    .style("stroke-dasharray", ("4,6"))

                    .call(d3.axisBottom(x)
                        .tickSize(0)
                        .tickFormat(""))
                    .style("opacity", "0.3");


                // g.append("g")
                //     .attr("class", "axisRed")
                //     .attr("transform", "translate(0," + height / 3.9 + ")")
                //     .style("stroke-dasharray", ("4,6"))
                //     .call(d3.axisBottom(x)
                //         .tickSize(0)
                //         .tickFormat(""));

                // g.append("g")
                //     .attr("class", "axisBot")
                //     .attr("transform", "translate(0," + height / 1.23 + ")")
                //     .style("stroke-dasharray", ("4,6"))
                //     .call(d3.axisBottom(x)
                //         .tickSize(0)
                //         .tickFormat(""));

                g.append("g")
                    .attr("class", "axis axis--y")
                    .call(d3.axisLeft(y).ticks(12).tickFormat(function (d) {
                        return parseFloat(d);
                    }))
                    .append("text")
                    .attr("class", "axis-title")
                    .attr("transform", "rotate(-90)")
                    .attr("y", "8px")
                    .attr("dy", "10px")
                    .style("text-anchor", "end")
                    .text("Sentiment Score");

                g.append("path")
                    .datum(data)
                    .attr("class", "line")
                    .attr("d", line)


                g.selectAll('circle')
                    .data(data).enter()
                    .append('circle')
                    .attr('cx', d => x(d.date))
                    .attr('cy', d => y(d.score))
                    .attr('r', 8);

                g.selectAll("text").data(data).enter()
                    .append("text")
                    .attr("x", function (d) {
                        return x(d.date);
                    })
                    .attr("y", function (d) {
                        return y(d.score);
                    })

                var focus = g.append("g")
                    .attr("class", "focus")
                    .style("display", "none")
                    .style("background-color", "#FDD935");

                focus.append("line")
                    .attr("class", "x-hover-line hover-line")
                    .attr("y1", 1)
                    .attr("y2", height);

                focus.append("line")
                    .attr("class", "y-hover-line hover-line")
                    .attr("x1", width)
                    .attr("x2", width);

                focus.append("text")
                    .attr("class", "tooltip-date")
                    .attr("x", 18)
                    .attr("y", -35)
                    .attr("dy", ".31em");

                focus.append("text")
                    .attr("class", "tooltip-likes")
                    .attr("x", 18)
                    .attr("y", -10)
                    .attr("cy", "5px");
                // .style("fill", function (d) {
                // if (d.score <= 0.2) { return "red" } else { return "#green" } });

                var rect = svg.append("rect")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                    .attr("class", "overlay")
                    .attr("id", "line01")
                    .attr("width", width)
                    .attr("height", height)
                    .on("mouseover", function () {
                        focus.style("display", null);
                    })
                    .on("mouseout", function () {
                        focus.style("display", "none");
                    })
                    //.on("mousemove", mousemove)
                    .on("click", onClickEvent);

                svg.append("rect")
                    .attr("width", "89%")
                    .attr("transform", "translate(40," + height / 8.9 + ")")
                    .attr("height", height / 5.3)
                    .attr("fill", "green")
                    .attr("opacity", 0.4);

                svg.append("rect")
                    .attr("width", "89%")
                    .attr("transform", "translate(40," + height / 1.165 + ")")
                    .attr("height", height / 5.3)
                    .attr("fill", "red")
                    .attr("opacity", 0.4);


                function mousemove() {
                    var x0 = x.invert(d3.mouse(this)[0]),
                        i = bisectDate(data, x0, 0),
                        d0 = data[i - 1],
                        d1 = data[i],
                        d = x0 - d0.date > d1.date - x0 ? d1 : d0;
                    focus.attr("transform", "translate(" + x(d.date) + "," + y(d.score) + ")");
                    focus.select(".tooltip-date").text("Date: " + d3.timeFormat("%b-%d")(d.date))
                    focus.select(".tooltip-likes").text("Tweet: " + (d.tweet))
                    focus.select(".tooltip-likes").text("Score: " + (d.score).toFixed(2))
                    focus.select(".x-hover-line").attr("y2", height - y(d.score));
                }

                function onClickEvent() {

                    var x0 = x.invert(d3.mouse(this)[0]),
                    i = bisectDate(data, x0, 0),
                    d0 = data[i - 1],
                    d1 = data[i],
                    d = x0 - d0.date > d1.date - x0 ? d1 : d0;
                    $('<div class="card" style="display:none">'+ d3.timeFormat("%b-%d")(d.date) + ',' + d.tweet + '</div>').appendTo('.overlay').dialog(); //return tweet_data[key], tweet_data.tweet;
            
                }
            }
            trend();
        </script>



</body>

</html>