/*
#A31621 #BFDBF7 #053C5E #1F7A8C #DB222A*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&display=swap');

body {
    margin-top: auto;
    font-family: 'Open Sans', sans-serif;
    background: #F7F7F7;
}

h2 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    display: block;
}

h3 {
    color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    display: block;
}

h4 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding: 10px;

    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #f8f9fa;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px #000000;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #000;
    display: inline-block;
    ;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

.content-wrapper h2 {
    padding: 70px;
    text-align: center;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #FDD935;

    color: #000000;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
    color: #f8f9fa;
    background: #000000;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #f8f9fa;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #f8f9fa;
}

#sidebar ul li.active>a {
    color: #f8f9fa;
    background: #000000;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FDD935;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #FDD935;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #FDD935;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

@-webkit-keyframes dropdownAnimation {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
}

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
}

.dropdownAnimation,
.nav .nav-item.dropdown .navbar-dropdown,
.navbar-nav .nav-item.dropdown .navbar-dropdown {
    -webkit-animation-name: dropdownAnimation;
    animation-name: dropdownAnimation;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;

}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.infinite-spin {
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes menufadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes menufadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.menufadeInLeft {
    -webkit-animation-name: menufadeInLeft;
    animation-name: menufadeInLeft;
}

.nav .nav-item,
.navbar-nav .nav-item {
    line-height: 1;
}

.nav .nav-item.dropdown .dropdown-toggle:after,
.navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    border: none;
    content: "\F140";
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #000000;
    text-rendering: auto;
    line-height: inherit;
    vertical-align: 0;
}

.nav .nav-item.dropdown .count-indicator,
.navbar-nav .nav-item.dropdown .count-indicator {
    position: inherit;
    text-align: center;
}

.nav .nav-item.dropdown .count-indicator i,
.navbar-nav .nav-item.dropdown .count-indicator i {
    font-size: 21px;
    margin-right: 0;
    vertical-align: middle;
}

.nav .nav-item.dropdown .count-indicator .count,
.navbar-nav .nav-item.dropdown .count-indicator .count {
    position: absolute;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #FDD935;
    color: #000;
    font-size: 11px;
    top: -1px;
    font-weight: 600;
    line-height: 1rem;
    border: none;
    text-align: center;
}

.nav .nav-item.dropdown .count-indicator:after,
.navbar-nav .nav-item.dropdown .count-indicator:after {
    display: none;
}


.rtl .nav .nav-item.dropdown i,
.rtl .navbar-nav .nav-item.dropdown i {
    margin-left: 0.5rem;
    margin-right: 0;
}

.nav .nav-item.dropdown .navbar-dropdown,
.navbar-nav .nav-item.dropdown .navbar-dropdown {
    font-size: 20px;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid;
    padding: 10 10 10px;
    min-width: 100%;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    overflow-x: auto;
    max-height: 350px;
    overflow-y: auto;
    overflow: hidden;
}


@media (max-width: 991px) {

    .nav .nav-item.dropdown .navbar-dropdown,
    .navbar-nav .nav-item.dropdown .navbar-dropdown {
        right: -85px;
    }
}

@media (max-width: 991px) {

    .nav .nav-item.dropdown .navbar-dropdown .badge,
    .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
        margin-right: 0.5rem;
    }

    .rtl .nav .nav-item.dropdown .navbar-dropdown .badge,
    .rtl .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
        margin-left: 0.5rem;
        margin-right: 0;
    }
}

.nav .nav-item.dropdown .navbar-dropdown .dropdown-item,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    padding: 5px 25px;
}

.navbar.default-layout {
    font-family: "Open Sans", sans-serif;
    background: #000000;
    font-weight: 900;
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
}

.navbar.default-layout .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #FDD935;
    width: 250px;
    height: 63px;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 48px;
    margin-right: 0;
    padding: 0.25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand:active,
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus,
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
    color: #000000;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
    width: 170px;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
}

.navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
    display: none;
}

.navbar.default-layout .navbar-brand-wrapper .brand-logo-mini img {
    width: 40px;
    max-width: 100%;
    margin: auto;
}

.navbar.default-layout .navbar-menu-wrapper {
    content: "|";
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #f8f9fa;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 270px);
    height: 63px;
}



.navbar.default-layout .navbar-menu-wrapper .search-form {
    width: 55%;
    margin-right: 10px;
}

.navbar.default-layout .navbar-menu-wrapper .search-form .form-group {
    margin-bottom: 0;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar.default-layout .navbar-menu-wrapper :focus,
.navbar.default-layout .navbar-menu-wrapper :visited {
    padding: 6px;
    background-color: rgb(255, 255, 255);
}


.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
    margin-left: 20px;
}

@media (max-width: 992px) {
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
        margin-left: 20px;
        margin-right: 0px;
    }
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: inherit;
    font-size: 15px;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
    font-size: 1.25rem;
    vertical-align: middle;
    margin-right: 0;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.language-dropdown .flag-icon-holder i {
    font-size: 25px;
}

@media (max-width: 991px) {
    .navbar.default-layout {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar.default-layout .navbar-brand-wrapper {
        width: 70px;
    }

    .navbar.default-layout .navbar-brand-wrapper .brand-logo {
        display: none;
    }


}

input[type=text],
select {
    position: inherit;
    align-self: center;
    background: #f8f9fa;
    width: 80%;
    padding: 12px 20px;
    margin: 20px auto;
    display: flex;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    align-self: center;
    background-color: #FDD935;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 900;
    padding: 14px 10px;
    margin: auto;
    border: #000000;
    border-radius: 4px;
    cursor: pointer;
    display: block;

}

#col1 {
    background: transparent;
    text-align: center;
    align-content: center;
    border-radius: 8px;
    width: 80%;
    color: #f8f9fa;
    align-items: center;
    font-weight: 600;
    display: inline-block;
    justify-content: center;
}

.following-container {
    position: relative;
    padding: 10px 10px 10px 10px;
    background: #141414;
    background-image: radial-gradient(to right, #434343 0%, black 100%);
    border-radius: 8px;
    width: 100%;
    height: auto;
    color: #f8f9fa;
    justify-items: center;
    align-self: center;
    align-items: center;
    display: block;
}

#btn-1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background: #FDD935;
    border-color: #FDD935;
    color: #000000;
}

#friends-list {
    position: relative;
    padding: 10px 10px 10px 10px;
    border: solid;
    border-color: #FDD935;
    border-width: 1px;
    border-radius: 6px;
    margin: 10px;
    font-weight: 600;
    width: 40%;
    display:-webkit-inline-flex ;
    align-content: inherit;
    justify-content: center;
}



#trend2 {
    position: fixed;
}


#revenue-tag {
    font-weight: inherit !important;
    border-radius: 0px !important;
}

.card {
    border: 0rem;
    border-radius: 0rem;
    margin-bottom: 50px;
}

.card-header {
    background-color: #FDD935;
    border-radius: 0 !important;
    color: white;
    margin-bottom: 50px;
    padding: 1rem;
}

.card-block {
    border: 1px solid #000;
}


#revenue-column-chart,
#products-revenue-pie-chart,
#orders-spline-chart {
    height: 300px;
    width: 100%;
}

.feedback-form {
    position: relative;
    text-align: center;
    width: 100%;
    border: 1px solid #000;
    border-width: 1px solid;
    display: block;
    color: #000;
    border-collapse: collapse;

}

.feedback-table {
    width: 100%;
    border: 1px solid #000;
    border-width: 1px;
    border-collapse: collapse;

}