/*
#A31621 #BFDBF7 #053C5E #1F7A8C #DB222A*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&display=swap');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin-top: auto;
    width: 98.8%;
    font-family: 'Open Sans', sans-serif;
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(44deg, #0c0091e5 0%, #00a87ee7 100%);
    background-image: -o-linear-gradient(44deg, #0c0091e5 0%, #00a87ee7 100%);
    background-image: linear-gradient(134deg, #0c0091e5 0%, #00a87ee7 100%);
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    display: block;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    display: block;
}

h4 {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding: 10px;

    text-align: center;
}

h5 {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

a,
a:hover,
a:focus {
    color: inherit;
    margin-right: 0;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    position: relative;
    width: 100%;
    padding: 5px 5px;
    background: #ffffff;
    border-bottom: none;


    border-radius: 0;
    margin-bottom: 40px;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    margin-left: 20px;
    align-items: stretch;
    perspective: 1500px;
}

.content-wrapper h2 {
    padding: 20px 0px;
    text-align: center;
}

.list-unstyled {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
}

#sidebar {
    width: 320px;
    background: #ffffff;
    font-weight: bold;
    color: #000000;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 30px;
}


ul.list-unstyled.components {
        position: -webkit-sticky;
        position: sticky;
    margin: 15px;
    margin-left: 20px;
    justify-content: center;
}

#sidebar ul p {
    color: #161616;
}

#sidebar ul li a {
            position: -webkit-sticky;
            position: sticky;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(255, 255, 255);
    background: #5f2ceb;
          background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
          background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
          background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
}

#sidebar ul li.active>a {
    color: #ffffff;
    background: #3f0196;
        background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
        }

.dropdown-toggle::after {
    display: block;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    background: rgb(179, 226, 255);
}


.active {
    margin: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #1DA1F2;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 70%;
    height: 2px;
    display: block;
    background: #1DA1F2;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

@-webkit-keyframes dropdownAnimation {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
}

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
}



@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.infinite-spin {
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes menufadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes menufadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* .menufadeInLeft {
    -webkit-animation-name: menufadeInLeft;
    animation-name: menufadeInLeft;
} */

.nav .nav-item,
.navbar-nav .nav-item {
    line-height: 1;
}

.nav .nav-item.dropdown .dropdown-toggle:after,
.navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    border: none;
    content: "\F140";
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #fff;
    text-rendering: auto;
    line-height: inherit;
    vertical-align: 0;
}

.nav .nav-item.dropdown .count-indicator,
.navbar-nav .nav-item.dropdown .count-indicator {
    position: inherit;
    text-align: center;
}

.nav .nav-item.dropdown .count-indicator i,
.navbar-nav .nav-item.dropdown .count-indicator i {
    font-size: 30px;
    margin-right: 0;
    vertical-align: middle;
}

.nav .nav-item.dropdown .count-indicator .count,
.navbar-nav .nav-item.dropdown .count-indicator .count {
    position: absolute;
    left: 50%;
    width: 1rem;
    height: 1rem;
    background: rgb(255, 255, 255);
    color: rgb(238, 238, 238);
    font-size: 15px;
    top: -1px;
    font-weight: 700;
    line-height: 1rem;
    border: none;
    text-align: center;
}

.nav .nav-item.dropdown .count-indicator:after,
.navbar-nav .nav-item.dropdown .count-indicator:after {
    display: none;
}


.rtl .nav .nav-item.dropdown i,
.rtl .navbar-nav .nav-item.dropdown i {
    margin-left: 0.5rem;
    margin-right: 0;
}

.nav .nav-item.dropdown .navbar-dropdown,
.navbar-nav .nav-item.dropdown .navbar-dropdown {
    font-size: 20px;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid;
    padding: 10 10 10px;
    min-width: 100%;
    overflow-x: auto;
    max-height: 350px;
    overflow-y: auto;
    overflow: hidden;
}


@media (max-width: 991px) {

    .nav .nav-item.dropdown .navbar-dropdown,
    .navbar-nav .nav-item.dropdown .navbar-dropdown {
        right: -85px;
    }
}

@media (max-width: 991px) {

    .nav .nav-item.dropdown .navbar-dropdown .badge,
    .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
        margin-right: 0.5rem;
    }

    .rtl .nav .nav-item.dropdown .navbar-dropdown .badge,
    .rtl .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
        margin-left: 0.5rem;
        margin-right: 0;
    }
}

.nav .nav-item.dropdown .navbar-dropdown .dropdown-item,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 25px;
}

.navbar.default-layout {
    font-family: "Open Sans", sans-serif;
    background: transparent;
    font-weight: 900;
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    margin-bottom: 10px;
}

.navbar.default-layout .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: transparent;
    margin: auto;
    height: 63px;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 48px;
    margin-right: 0;
    padding: 0.25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand:active,
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus,
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
    color: #ffffff;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
    margin: auto;
    vertical-align: middle;
}

.navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
    display: none;
}

.navbar.default-layout .navbar-brand-wrapper .brand-logo-mini img {
    width: 40px;
    max-width: 100%;
    margin: auto;
}

.navbar.default-layout .navbar-menu-wrapper {
    content: "|";
    display: flex;
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #1DA1F2;
    width: 100%;
    padding-left: 15px;
    justify-content: center;
    padding-right: 20px;
    width: calc(100% - 270px);
    height: 63px;
}



.navbar.default-layout .navbar-menu-wrapper .search-form {
    width: 75%;
    margin-right: 20px;
}

.navbar.default-layout .navbar-menu-wrapper .search-form .form-group {
    margin-bottom: 0;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: initial;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    margin-left: 30px;
    margin-right: 20px;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.navbar-nav li,
#navitem::after {
    color: #fff;
}

.navbar.default-layout .navbar-menu-wrapper :focus,
.navbar.default-layout .navbar-menu-wrapper :visited {

    padding: 13px;
    border-radius: 100px;
}




@media (max-width: 992px) {
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
        margin-left: 20px;
        margin-right: 0px;
    }
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    position: -webkit-sticky;
    color: inherit;
        display: inline-block;

    font-size: 15px;
}

@media (max-width: 767px) {
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
    font-size: 1.25rem;
    vertical-align: middle;
    margin-right: 0;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.language-dropdown .flag-icon-holder i {
    font-size: 25px;
}

@media (max-width: 991px) {
    .navbar.default-layout {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar.default-layout .navbar-brand-wrapper {
        width: 70px;
    }

    .navbar.default-layout .navbar-brand-wrapper .brand-logo {
        display: none;
    }


}

input[type=text],
select {
    position: static;
    align-self: center;
    background: #ffffff;
    width: 80%;
    padding: 12px 20px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    color: #000000;
    border-radius: 4px;
}

#fname::placeholder {
    color: #2b2b2b;
    text-shadow: #000;
    scroll-margin-bottom: inherit;
    border-radius: 20px;
}

input[type=submit] {
    width: 40%;
    align-self: center;
    background-color: #00A87E;
          background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
          background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
          background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 900;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 14px 10px;
    margin: auto;
    border: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}



#col1 {
    background: transparent;
    text-align: center;
    align-content: center;
    border-radius: 8px;
    width: 80%;
    color: #ffffff;
    align-items: center;
    font-weight: 600;
    display: inline-block;
    justify-content: center;
}

.following-container {
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    position: static;
    padding: 10px 10px 10px 10px;
    background: #1111116e;
    background-image: radial-gradient(to right, #ffffff 0%, black 100%);
    border-radius: 8px;
    width: 100%;
    -moz-window-shadow: inherit;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 3px 1px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    color: #ffffff;
    display: block;
}

.following-container-2 {
    position: relative;
    float: left;
    margin-left: 1%;
    padding: 10px 140px 10px 133px;
    margin-top: 20px;
    background: #1111116e;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 3px 1px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    color: #ffffff;
    justify-items: center;
    align-self: center;
    align-items: center;
}

#btn-1 {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline-flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background: #00A87E;
    border-color: #00A87E;
        background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
    color: #fff;

}

#friends-list {
    justify-content: center;
    text-align: center;
    align-content: center;
    place-content: inherit;
    padding: 10px 10px 10px 10px;
    background: #ffffff;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 18%;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 3px 0 rgba(0, 0, 0, 0.19);
    font-weight: 600;
    width: 65%;
    display: flex;
}

#revenue-tag {
    font-weight: inherit !important;
    border-radius: 0px !important;
}



.card {
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2),
        0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    background-color: #1DA1F2;
    border-radius: 4px !important;
    color: white;
    margin-bottom: 50px;
    padding: 1rem;
}

.showTrend {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2),
        0 3px 8px 0 rgba(0, 0, 0, 0.19);
}



.card-block {
    border-radius: 5px;

}


#revenue-column-chart,
#products-revenue-pie-chart,
#orders-spline-chart {
    height: 300px;
    width: 100%;
}

.onclick-container {
    display: flex;
    margin-left: 30px;


}

div.feedback-form:empty {
    display: none
}




#wordcloud {
    width: 50%;
}

.feedback-form {
    position: static;
    text-align: justify;
    width: 50%;
    margin-right: 2em;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    color: rgb(255, 255, 255);
    border-collapse: collapse;

}

.wordchart-container {
    background: transparent;
    position: static;
    margin-left: 30px;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-collapse: collapse;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tweet-chart {
    background: transparent;
    position: static;
    margin-left: 30px;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-collapse: collapse;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.wordchart-container:empty {
    display: none
}

div#wordchart:empty {
    display: none
}

#container-wrapper {
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#personalise {
    position: relative;
    justify-content: center;
    text-align: center;
    margin-left: 8%;
    width: 80%;
}

.feedback-table {
    display: block;
    width: 100%;
}

.wrap-input100 {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 50%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input100 {
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;

    display: inline-block;
    width: 50%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

.notification {
    padding: 10px 10px 10px 10px;
    background: #1111116e;
    background-image: radial-gradient(to right, #eeebeb 0%, black 100%);
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 3px 1px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    color: #ffffff;
}

.no-noti {
    height: 57px;
}

.chart-container {
    background: #f8f9fa;
    height: 100%;
    width: 100%;
    min-height: 150px;
}


#top {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #6200EE;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

.test {
    justify-content: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#help {
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.tweets {
    position: relative;
    display: -moz-inline-box;
    max-height: 280px;
    width: 100%;
    overflow-y: auto;
}

#help_btn {
    background: #3f0196;
    border: 1px solid #3f0196;
    font-weight: 700;   
}