/*===============================FONT============================================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*====================================GLOBAL CSS===========================================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

/*===========================================================================================*/

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    color: #1D2228;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #000;
}

/*====================================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px;
    font-weight: 800;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #1D2228;
    margin: 0px;
}

ul,
li {
    margin-right: none;
    list-style-type: none;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #1D2228;
}

input:-moz-placeholder {
    color: #1D2228;
}

input::-moz-placeholder {
    color: #1D2228;
}

input:-ms-input-placeholder {
    color: #1D2228;
}

textarea::-webkit-input-placeholder {
    color: #1D2228;
}

textarea:-moz-placeholder {
    color: #1D2228;
}

textarea::-moz-placeholder {
    color: #1D2228;
}

textarea:-ms-input-placeholder {
    color: #1D2228;
}

label {
    margin: 0;
    display: flexbox;
}

/*==============================================================================================*/
button {
    outline: none !important;
    border: none;
    background: #5f2ceb;
        background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
    color: rgb(255, 255, 255);
}

button:hover {
    cursor: pointer;
}

iframe {
    border: #1D2228 !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    align-self: baseline;
    position: relative;
    color: #1D2228;
    line-height: 1.5;
}

/*==============================LOGIN FORM BACKGROUND=========================================*/

.login-page {
    width: 100%;
    margin: 0 auto;
}

.container-login-background {
    background-color: rgb(255, 255, 255);
    color: #1D2228;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login-background::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1D2228;
    background-image: -webkit-linear-gradient(44deg, #0C0091 0%, #00A87E 100%);
    background-image: -o-linear-gradient(44deg, #0C0091 0%, #00A87E 100%);
    background-image: linear-gradient(134deg, #0C0091 0%, #00A87E 100%);
}

.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;

    background: #fff;

}

.login-form {
    width: 100%;
}

.login-form-logo {
    font-size: 30px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: -60px;
}

.login-form-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: -30px;
    padding: 0px;
    color: #1D2228;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #5f2ceb;
    margin-top: 30px;

    margin-bottom: 30px;
}

.input100 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #1D2228;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #000;
}

.focus-input100::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #5f2ceb;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input:focus {
    padding-left: 5px;
}

.input:focus+.focus-input::after {
    top: -22px;
    font-size: 18px;
}

.input:focus+.focus-input::before {
    width: 100%;
}

.has-val.input+.focus-input::after {
    top: -22px;
    font-size: 18px;
}

.has-val.input+.focus-input::before {
    width: 100%;
}

.has-val.input {
    padding-left: 5px;
}

.contact-form-checkbox {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
}

.input-checkbox {
    display: none;
}

.label-checkbox {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #1D2228;
    line-height: 1.2;

    display: flexbox;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 20px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #5f2ceb;
    
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox:checked+.label-checkbox::before {
    color: #1D2228;
}

.container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
        background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
    display: -moz-box;
    display: -moz-deck;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-form-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 20px;
    ;
    text-shadow: #1D2228;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    min-width: 400px;
    height: 40px;
    border-radius: 0px;

          background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
          background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
          background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: #5f2ceb;
    background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
    background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
    background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn:hover {
    color: #fff;
}

.login-form-btn:hover:before {
    opacity: 0;
}

.form-sign-up {
    margin: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: block;
    align-items: center;
    position: initial;
    text-align: center;
}

.form-sign-up.a:hover {
    color: #5f2ceb;
}

.form-sign-up .a:hover:before {
    opacity: 0;
}


.twitter-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: rgb(255, 255, 255);
    line-height: 20px;
    text-shadow: #1D2228;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    min-width: 400px;
    height: 40px;
    border-radius: 0px;

          background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
          background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
          background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.twitter-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 0px;
        background-image: -webkit-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: -o-linear-gradient(44deg, #0C00916e 0%, #00A87E6e 100%);
        background-image: linear-gradient(134deg, #0C00916e 0%, #00A87E6e 100%);
    background-color: #5f2ceb;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.twitter-btn:hover {
    color: #fff;
}

.twitter-btn:hover:before {
    opacity: 0;
}


@media (max-width: 576px) {
    .wrap-login100 {
        padding: 55px 15px 37px 15px;
    }
}

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;

    font-family: 'Open Sans', sans-serif;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;

    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}